*{
    margin: 0 0.13rem 0 0.13rem;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

.cuerpo{
    background-color: #dce0e6;
}

.titulo{
    /*margin-left: 4rem;*/
    margin-top: 20px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1.3px;
}

header{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #6894d6;
}

.logo {
    display: flex;
    
}

.logo img{
    height: 55px;
    margin-top: 10px;
}

/* menu desplegable */
 
.navegacion{
    width: 100%auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #6894d6;
}

.navegacion ul{
    list-style: none;
    justify-content: space-between;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    position: relative;
    opacity: 0.85;
    display: block;
    padding: 15px 15px;
    letter-spacing: 0.7px;
    color: #ffffff;
    font-size: large;
    text-decoration: none;
}

.menu li a:hover{
    opacity: 1;
    background-color: #345b96;
    width: 100%;
    color: rgb(255, 224, 47);
    transition: .15s;
}

.submenu{
    position: absolute;
    background: #345b96;
    width: 145%;
    border-left: #000000 10px;
    border-right: #000000 1px;
    visibility: hidden;
    opacity: 0;
    transition:  ease-in-out opacity .15s;
}

.submenu li a{
    display: block;
    padding: 15px;
    letter-spacing: 0.7px;
    color: white;
    font: Cambria, Cochin, Georgia, Times, serif;
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

/*carrusel*/

#carrusel-caja {
    -moz-animation: automatizacion 7s infinite linear;
    -o-animation: automatizacion 7s infinite linear;
    -webkit-animation: automatizacion 7s infinite linear;
    animation: automatizacion 7s infinite linear;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

    height: 500px;
    width: 300%;
}

#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    size: 500px;
    justify-content: center;
    align-items: center;
}

.preview-min{
    height: 562.50px;
    width: 1000px;
}

.preview-byw{
    height: 562.50px;
    width: 1000px;
}

.preview-action{
    height: 562.50px;
    width: 1000px;
}

.preview-nature{
    height: 562.50px;
    width: 1000px;
}

.carrusel-elemento {
    float: left;
    width: 33.333%;
}

@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    
}

@keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}