*{
    margin: 0 0.13rem 0 0.13rem;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

.cuerpo{
    background-color: #dce0e6;
}

.titulo{
    /*margin-left: 4rem;*/
    margin-top: 20px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1.3px;
}

header{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #6894d6;
}

.logo {
    display: flex;
    
}

.logo img{
    height: 55px;
    margin-top: 10px;
}

/* menu desplegable */
 
.navegacion{
    width: 100%auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #6894d6;
}

.navegacion ul{
    list-style: none;
    justify-content: space-between;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    position: relative;
    opacity: 0.85;
    display: block;
    padding: 15px 15px;
    letter-spacing: 0.7px;
    color: #ffffff;
    font-size: large;
    text-decoration: none;
}

.menu li a:hover{
    opacity: 1;
    background-color: #345b96;
    width: 100%;
    color: rgb(255, 224, 47);
    transition: .15s;
}

.submenu{
    position: absolute;
    background: #345b96;
    width: 145%;
    border-left: #000000 10px;
    border-right: #000000 1px;
    visibility: hidden;
    opacity: 0;
    transition:  ease-in-out opacity .15s;
}

.submenu li a{
    display: block;
    padding: 15px;
    letter-spacing: 0.7px;
    color: white;
    font: Cambria, Cochin, Georgia, Times, serif;
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

/*----------------------slider-------------------------*/
.slider-inner{
    
    display: flex;
    align-items: center;
    gap: 2px;
    max-width: 1300px;
    padding: 40px 40px;
    transition: all 0.3s ease-in;
}

img{
    width: 100%;
    border-radius: 7px;
    
}

.anterior, .siguiente{
    width: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anterior img, .siguiente img{
    width: 100%;
}

.slider-screen{
    display: flex;
    width: 120%;
    align-items: center;
    justify-content: center;
    
}

.slider-screen img{
    width: 100%;
     
}